<div class="card bg-base-100 shadow-xl animate-fade-in">
  <figure class="px-10 pt-10">
    <img
      [src]="tv().poster_path | tvImage"
      [alt]="tv().name"
      [title]="tv().name"
      class="rounded-xl object-cover h-64 w-full"
    />
  </figure>
  <div class="card-body items-center text-center">
    <h2
      class="card-title text-accent text-lg hover:underline cursor-pointer"
      [routerLink]="['/tv', tv().id]"
    >
      {{ tv().name || 'Sin título' }}
    </h2>
    <p class="text-sm">
      @if (tv().overview) {
        {{ tv().overview | slice: 0 : 100 }}...
      } @else {
        No hay descripción disponible para esta serie.
      }
    </p>
    <div class="card-actions justify-end">
      <a class="link link-accent" [routerLink]="['/tv', tv().id]">Ver</a>
    </div>
  </div>
</div>
