<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
  @for (tv of tvResource.value()?.results; track tv.id) {
    <tv-card [tv]="tv" />
  } @empty {
    @if (tvResource.isLoading()) {
      <p>Cargando programas...</p>
    } @else {
      <p>No se encontraron resultados en esta página.</p>
    }
  }
</div>

<div class="mt-10 mb-10">
  <pagination
    class="fixed bottom-0 z-50 w-full bg-base-100 shadow-sm"
    [totalPages]="tvResource.value()?.total_pages ?? 500"
    [currentPage]="paginationService.currentPage()"
  />
</div>
