/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

 @plugin "daisyui" {
      themes: sunset --default, dark --prefersdark;
     themes: sunset --default;
 }

 /* 2. Tokens de Tailwind */
@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-sans: "Roboto", sans-serif;

 /* Aquí definimos la animación igual que en el config */
  --animate-fade-in: fade-in 0.3s ease-in-out;
}

/* 3. Keyframes */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}